<div class="page-header">
	<h1>Sign In</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<fieldset>
		<div class="row">
			<div class="span8 columns">
				<div class="clearfix">
					<%= f.label :email %>
					<div class="input">
						<%= f.text_field :email, :class => "xlarge" %>
					</div>
				</div>
				<div class="clearfix">
					<%= f.label :password %>
					<div class="input">
						<%= f.password_field :password, :class => "xlarge" %>
					</div>
				</div>
				<div class="clearfix">
					<%= f.label :remember_me %>
					<div class="input">
						<%= f.check_box :remember_me %> 
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<a href="#">Forgot password?</a>
					</div>
				</div>
			</div>
			<div class="span8 columns">
				<h3>Sign with:</h3>
				<% if devise_mapping.omniauthable? %>
				  <% resource_class.omniauth_providers.each do |provider| %>
				    <%= link_to image_tag("auth/#{provider.to_s}_64.png",:alt => "#{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %>
				  <% end %>
				<% end %>
			</div>
		</div>
		<div class="actions">
			<button type="submit" class="btn large primary">Sign In</button>
		</div>
	</fieldset>
<% end %>
