<% title t("sign.in") %>

<div class="page-header">
	<h1><%=t "sign.in" %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<fieldset>
		<div class="row">
			<div class="span8 columns">
				<div class="clearfix">
					<%= f.label :login %>
					<div class="input">
						<%= f.text_field :login, :class => "xlarge" %>
					</div>
				</div>
				<div class="clearfix">
					<%= f.label :password %>
					<div class="input">
						<%= f.password_field :password, :class => "xlarge" %>
					</div>
				</div>
				<div class="clearfix remember">
					<%= f.label :remember_me %>
					<div class="input">
						<ul class="inputs-list">
							<li><%= f.check_box :remember_me %></li>
						</ul>
					</div>
				</div>
				<%= link_to t("password.forgot"), new_user_password_path, :class => 'forgot_password' %>
			</div>
			<div class="span8 columns">
				<h3><%=t "sign.in" %> <%=t "with"%>:</h3>
				<% if devise_mapping.omniauthable? %>
				  <% resource_class.omniauth_providers.each do |provider| %>
				    <%= link_to image_tag("auth/#{provider.to_s}_64.png",:alt => "#{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %>
				  <% end %>
				<% end %>
			</div>
		</div>
		<div class="actions">
			<button type="submit" class="btn large primary"><%=t "sign.in" %></button>
		</div>
	</fieldset>
<% end %>
