<% title("settings") %>

<% stylesheet "settings" %>

<%= render :partial => 'layouts/settingsnav', :locals => {:selected_tab => 'account'} %>

<div class="content_section">
	<%= devise_error_messages! %>
	<%= form_for(@user, :url => registration_path(@user), :html => { :method => :put }) do |f| %>
	
		<fieldset>
			<div class="clearfix">
				<%= f.label :name %>
				<div class="input">
					<%= f.text_field :name, :class => "xlarge" %>
				</div>
			</div>
			<div class="clearfix">
				<%= f.label :username %>
				<div class="input">
					<%= f.text_field :username, :class => "xlarge" %>
				</div>
			</div>
			<div class="clearfix">
				<%= f.label :email %>
				<div class="input">
					<%= f.text_field :email, :class => "xlarge" %>
				</div>
			</div>
			
			<div class="clearfix">
				<%= f.label :password %>
				<div class="input">
					<%= f.password_field :password, :class => "xlarge" %>
				</div>
			</div>
			<div class="clearfix">
				<%= f.label :password_confirmation %>
				<div class="input">
					<%= f.password_field :password_confirmation, :class => "xlarge" %>
				</div>
			</div>
			<div class="clearfix avatar">
				<a href="http://gravatar.com" target="_blank"><%= img_gravatar(current_user.email, {:size => 48}).html_safe %></a>
				<%=t "avatar.change" %> <a href="http://gravatar.com" target="_blank">gravatar.com</a>.
			</div>
			
			<div class="actions">
				<button type="submit" class="btn large primary"><%= t "save" %></button>
			</div>
		</fieldset>
	<% end %>
</div>