<p><%=t "hello" %> <%=@resource.username%></p>

<p><%= t "devise.password.requested" %></p>

<p><%= link_to t("password.change"), edit_user_password_url(:reset_password_token => @resource.reset_password_token)%></p>

<p><%=t "devise.dont.request"%></p>
<p><%=t "devise.wont.change" %></p>