<div class="topbar">
	<div class="fill">
		<div class="container">
	    	<h3><%= link_to t("project.title"), root_path %></h3>
		    <ul>
				<% if current_user %>
		    		<li><%= link_to "Home", home_path %></li>
				<% end %>
				<!-- Common NAV -->
		
		    </ul>
		    <ul class="nav secondary-nav">
				<% if current_user %>
					<li class="menu">
						<a href="#" class="menu">
							<%= img_gravatar(current_user.email, {:size => 20}).html_safe %>
							<%= current_user.username %>
						</a>
						<ul class="menu-dropdown">
							<li>
								<%= link_to t("settings"), edit_user_registration_path %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to t("sign.out"), destroy_user_session_path %>
							</li>
						</ul>
					</li>
				<% else %>
		    		<li>
			        	<%= link_to t("sign.in"), new_user_session_path %>
			      	</li>
					<li>
			        	<%= link_to t("sign.up"), new_user_registration_path %>
			      	</li>
				<% end %>
		    </ul>
  		</div>
	</div>
</div>