<!DOCTYPE html>
<html>
<head>
	<title> <%= yield(:title) %></title>
	<%= stylesheet_link_tag "bootstrap-1.0.0.min", "layout" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<% if current_user %>
		<%= stylesheet_link_tag "background" %>
	<% end %>
	<%= yield(:head) %>
</head>
<body>

<%= render :partial => "layouts/topnav" %>
<div class="container">
	<%= handle_messages %>
	<div class="page_content">
		<%= yield %>
	</div>
	<div class="footer">© 2011 Startup</div>
</div>



</body>
</html>
