<!DOCTYPE html>
<html>
<head>
	<title> <%= t "project.title" %> <%= " - #{yield(:title)}" if !yield(:title).blank? %></title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application", "bootstrap-dropdown" %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>

<%= render :partial => "layouts/topnav" %>
<div class="container">
	<%= handle_messages %>
	<div class="page_content">
		<%= yield %>
	</div>
</div>
<div class="footer">
	<div class="container">Copyright © 2011. <%=t "footer" %>.</div>
</div>

</body>
</html>
